<app-blog-header/>

@let post = blogPost() | async;
@let author = authorInfo() | async;
@let comments = postComments() | async;

<div class="container my-5">
  <h2 class="fw-bold">{{ post?.title }}</h2>

  <p class="text-muted mb-4">
    {{ post?.date }} •
    <a
      tabindex="0"
      class="text-decoration-underline text-primary"
      role="button"
      data-bs-toggle="popover"
      data-bs-trigger="focus"
      [attr.data-bs-content]="'Email: ' + author?.email + '\n' + author?.company?.catchPhrase"
      title="{{ author?.name }}"
    >
      {{ author?.name }}
    </a>
  </p>

  <div class="mb-5">
    <p>{{ post?.body }}</p>
  </div>

  <div class="my-4">
    <h5>Rate this post:</h5>
    <div class="star-rating">

      @for (star of [1, 2, 3, 4, 5]; track star) {
        <i
          class="bi"
          [ngClass]="{
          'bi-star-fill': star <= (hoverRating || currentRating),
          'bi-star': star > (hoverRating || currentRating)
        }"
          (click)="setRating(star)"
          (mouseenter)="setHover(star)"
          (mouseleave)="clearHover()"
          style="font-size: 20px; color: gold; cursor: pointer;"
        ></i>
      }

      @if (currentRating) {
        <span class="ms-2 text-muted small">({{ currentRating }} / 5)</span>
      }

    </div>
  </div>

  <!-- Comments Section -->
  <div class="mb-5">
    <h4 class="mb-4">Comments</h4>

    @for (comment of comments; track comment) {
    <div class="mb-3">
      <!-- Comment Content -->
      <div class="p-3 rounded bg-light mb-2">
        <!-- Avatar -->
        <img
          src="{{ comment.avatarImageUrl }}"
          alt="{{ comment.avatarImageUrl}}"
          class="rounded-circle me-3"
          style="width: 40px; height: 40px; object-fit: cover;"
        />

        <strong>{{ comment.email }}</strong>
        <div class="text-muted small">{{ comment?.date }}</div>
        <div>{{ comment.body }}</div>
      </div>
    </div>
    }

  </div>

  <!-- Comment Form -->
  <div>
    <h5 class="mb-3">Leave a Comment</h5>
    <form #commentForm="ngForm">
      <div class="mb-3">
        <input type="text" name="name" class="form-control" ngModel placeholder="Your Email" required/>
      </div>
      <div class="mb-3">
        <textarea name="message" class="form-control" rows="4" ngModel placeholder="Write your comment..." required></textarea>
      </div>
      <button class="btn btn-primary" (click)="submitComment(commentForm.value)">Post Comment</button>
    </form>
  </div>

</div>
